{% extends 'templates/app.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="title is-1">Welcome!</h1>
  <p>
    Nunc tristique, arcu sit amet ornare euismod, neque mi aliquet lorem, et auctor leo eros nec nibh. Sed a leo leo. Maecenas sollicitudin arcu ut ex tristique egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus non lectus eget iaculis. Suspendisse fringilla lacinia neque, vitae tincidunt augue sagittis non. Nulla vitae egestas lectus, vitae scelerisque arcu. In hac habitasse platea dictumst. Cras nec laoreet ipsum, a sodales magna. Sed eget nibh eu purus consectetur gravida nec vel elit. Vivamus nec magna placerat elit tempus porta.
    <br/>
    Aenean pulvinar sagittis nisi a commodo. Donec tincidunt pellentesque odio, non semper justo. Pellentesque fermentum sollicitudin turpis quis commodo. Quisque pretium luctus purus, eu luctus mi dignissim ut. Integer eu pulvinar orci, quis auctor risus. Proin ligula risus, facilisis nec magna ut, mattis gravida purus. Vestibulum consectetur, tortor eu venenatis gravida, nisi risus commodo mi, pulvinar pellentesque massa justo in libero. Sed commodo blandit odio non facilisis. Quisque ultricies vitae leo non laoreet.
  </p>
{% endblock %}
