{% set title = block('title') %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ appName }}{% if title is not empty %} | {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">    
    <link href="{{ base_url() }}/css/style.css" rel="stylesheet">
  </head>
  <body>

    {% include 'partials/navigation.twig' %}
    
    <section class="section">
      <container class="container">
        {% block content %}{% endblock %}
      </container>
    </section>

    <script src="{{ base_url() }}/js/main.js"></script>
    
  </body>  
